@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* light theme colors */
    --dark:#1d1301;
    --text: #1d1301;
    --background: #ffffff;
    --primary: #246df5;
    --secondary: #b9aef9;
    --accent: #0ab3d1;
    --error: #ef4444;
    --success: #84cc16;
    --alert: #fbbf24;
    --aura: #e2e2d0;

    /* fonts */
    
    --pixelify: 'Pixelify Sans', cursive;
  }

  [globalTheme="dark"] {

    /* dark theme colors */
    --dark:#ffffff;
    --text: #ffffff;
    --background: #110e08;
    --primary: #246df5;
    --secondary: #11074d;
    /* //03010e  */
    --accent: #7be6f9;
    --aura: #4f4f4d;
  }
}

.grow-3 {
  flex-grow: 3;
}