@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #060504;
    --background: #fdfcfc;
    --primary: #bbcdd3;
    --secondary: #dcd0cb;
    --accent: #567a85;
    --error: #EF4444;
    --success: #84CC16;
    --alert: #FBBF24;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #fdfcfc;
      --background: #060504;
      --primary: #bbcdd3;
      --secondary: #090706;
      --accent: #abc2c9;
    }
  }
}

.square-container {
  width: 200px; /* Adjust the width and height to match your image size */
  height: 200px;
  position: relative;
  overflow: hidden;
}

.square-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: radial-gradient(circle at center, transparent 40%, black 80%); /* Adjust the values for the desired softness */
  -webkit-mask-image: radial-gradient(circle at center, transparent 40%, black 80%); /* For webkit browsers */
}
