@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #060504;
    --background: #fdfcfc;
    --primary: #bbcdd3;
    --secondary: #dcd0cb;
    --accent: #567a85;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --text: #fdfcfc;
      --background: #060504;
      --primary: #bbcdd3;
      --secondary: #090706;
      --accent: #abc2c9;
    }
  } */
}
